*{
    -webkit-transition: all 1s;
    transition: all 1s;
}
.post-item-light ul, .post-item-light li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.post-item-light .plan-name, .post-item-light .plan-price, .post-item-light .plan-details, .post-item-light .button, .post-item-light .more-options, .post-item-light .best-choice {
    padding: 10px;
}
.post-item-light {
    margin: 50px auto;
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
}
.post-item-light .plan-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.3333%;
    background: #FFFCEF;
    margin: 10px 0;
    min-height: 650px;
}

.post-item-light .plan-box:hover {
    margin-top: -15px;
    background: white;
    box-shadow: 0 0 10px #ccc;
}
@media all and (max-width: 700px) {
    .post-item-light .plan-box:hover {
        margin-top: 10px;
    }
}
.post-item-light .plan-box:hover .plan-name {
    color: black;
}
.post-item-light .plan-box:hover .plan-price {
    background: #be1100;
    -webkit-box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.15), inset 0 4px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.15), inset 0 4px 3px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.post-item-light .plan-box:hover .more-options {
    display: block;
    padding: 20px;
    text-align: right;
    position: relative;
}
.post-item-light .plan-box:hover .more-options .additional-options {
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
}
.post-item-light .plan-box:hover .more-options a {
    color: #9E2B20;
    text-decoration: none;
}
@media all and (max-width: 700px) {
    .post-item-light .plan-box:first-child {
        margin-bottom: 20px;
    }
}
.post-item-light .plan-box:nth-child(2) {
    margin-top: 0;
    -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15), 3px 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15), 3px 0 3px rgba(0, 0, 0, 0.15);
    position: relative;
}
.post-item-light .plan-box:nth-child(2):hover {
    margin-top: -35px;
}
@media all and (max-width: 700px) {
    .post-item-light .plan-box:nth-child(2):hover {
        margin-top: 0;
        marign-right: -30px;
    }
}
@media all and (max-width: 700px) {
    .post-item-light .plan-box {
        width: 100%;
    }
}
.post-item-light .plan-name {
    font: 300 32px Oswald, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.post-item-light .plan-price {
    background: #9E2B20;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 24px Oswald, Arial, Helvetica, sans-serif;
    padding: 20px 10px;
    text-align: center;
}
.post-item-light .plan-price strong {
    font-size: 34px;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    line-height: 1;
    font-weight: 500;
}
.post-item-light .plan-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
}