.custom_hidden_for_search_div {
    display: none;
}

.custom_hidden_for_sort_div {
    display: none;
}

.custom_hidden_for_sort_by {
    display: none;
}

.custom_margin_10 {
    margin: 10px 0;
}

.image-1 {
    border: 1px solid #ccc;
}

.image-2 {
    border-radius: 50%;
    border-color: #255625;
    border: 1px solid;
}

.title-1 {
    font-size: 16px;
    font-weight: bold;
}

.title-2 {
    font-size: 18px;
    font-weight: bold;
    color: #0B86C3;
}

.title-3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.description-1 {
    font-size: 16px;
    color: #333;
}

.description-2 {
    font-size: 18px;
    color: #eee;
}

.description-3 {
    font-size: 20px;
    font-weight: bold;
}

.price-1 {
    font-size: 16px;
    font-weight: bold;
    color: #0B86C3;
}

.price-2 {
    font-size: 20px;
    font-weight: bold;
    color: red
}


.product-cart-quantity input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-left: 3px;
}
.product-cart-removal{
    text-align: center;
}
.product-cart-quantity{
    max-width: 50px;
}
.product-cart-details{
    max-width: 230px;
    white-space: normal;
}
.product-cart-image{
    max-width: 170px;
}
.totals .total-all-item{
    box-shadow: 0 0 5px #ccc;
    padding: 14px;
}
.totals .totals-item{
    border-bottom: 1px solid #ccc;
}
.totals .totals-item label{
    width:auto;
}
.totals .total-all-item .checkout{
    float: none;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.4s ease;
}
.totals .total-all-item .checkout:hover{
    background-color: #4f914f;
    color: white;
}