.bty-fs-8-color-white {
    font-size: 8px;
    color: white; }

.bty-fs-10-color-white {
    font-size: 10px;
    color: white; }

.bty-fs-12-color-white {
    font-size: 12px;
    color: white; }

.bty-fs-14-color-white {
    font-size: 14px;
    color: white; }

.bty-fs-16-color-white {
    font-size: 16px;
    color: white; }

.bty-fs-18-color-white {
    font-size: 18px;
    color: white; }

.bty-fs-20-color-white {
    font-size: 20px;
    color: white; }

.bty-fs-22-color-white {
    font-size: 22px;
    color: white; }

.bty-fs-24-color-white {
    font-size: 24px;
    color: white; }

.bty-fs-26-color-white {
    font-size: 26px;
    color: white; }

.bty-fs-28-color-white {
    font-size: 28px;
    color: white; }

.bty-fs-30-color-white {
    font-size: 30px;
    color: white; }

.bty-fs-32-color-white {
    font-size: 32px;
    color: white; }

.bty-fs-34-color-white {
    font-size: 34px;
    color: white; }

.bty-fs-36-color-white {
    font-size: 36px;
    color: white; }

.bty-fs-38-color-white {
    font-size: 38px;
    color: white; }

.bty-fs-40-color-white {
    font-size: 40px;
    color: white; }

.bty-fs-42-color-white {
    font-size: 42px;
    color: white; }

.bty-fs-44-color-white {
    font-size: 44px;
    color: white; }

.bty-fs-46-color-white {
    font-size: 46px;
    color: white; }

.bty-fs-48-color-white {
    font-size: 48px;
    color: white; }

.bty-fs-8-color-black {
    font-size: 8px;
    color: black; }

.bty-fs-10-color-black {
    font-size: 10px;
    color: black; }

.bty-fs-12-color-black {
    font-size: 12px;
    color: black; }

.bty-fs-14-color-black {
    font-size: 14px;
    color: black; }

.bty-fs-16-color-black {
    font-size: 16px;
    color: black; }

.bty-fs-18-color-black {
    font-size: 18px;
    color: black; }

.bty-fs-20-color-black {
    font-size: 20px;
    color: black; }

.bty-fs-22-color-black {
    font-size: 22px;
    color: black; }

.bty-fs-24-color-black {
    font-size: 24px;
    color: black; }

.bty-fs-26-color-black {
    font-size: 26px;
    color: black; }

.bty-fs-28-color-black {
    font-size: 28px;
    color: black; }

.bty-fs-30-color-black {
    font-size: 30px;
    color: black; }

.bty-fs-32-color-black {
    font-size: 32px;
    color: black; }

.bty-fs-34-color-black {
    font-size: 34px;
    color: black; }

.bty-fs-36-color-black {
    font-size: 36px;
    color: black; }

.bty-fs-38-color-black {
    font-size: 38px;
    color: black; }

.bty-fs-40-color-black {
    font-size: 40px;
    color: black; }

.bty-fs-42-color-black {
    font-size: 42px;
    color: black; }

.bty-fs-44-color-black {
    font-size: 44px;
    color: black; }

.bty-fs-46-color-black {
    font-size: 46px;
    color: black; }

.bty-fs-48-color-black {
    font-size: 48px;
    color: black; }

.bty-fs-8-color-red {
    font-size: 8px;
    color: red; }

.bty-fs-10-color-red {
    font-size: 10px;
    color: red; }

.bty-fs-12-color-red {
    font-size: 12px;
    color: red; }

.bty-fs-14-color-red {
    font-size: 14px;
    color: red; }

.bty-fs-16-color-red {
    font-size: 16px;
    color: red; }

.bty-fs-18-color-red {
    font-size: 18px;
    color: red; }

.bty-fs-20-color-red {
    font-size: 20px;
    color: red; }

.bty-fs-22-color-red {
    font-size: 22px;
    color: red; }

.bty-fs-24-color-red {
    font-size: 24px;
    color: red; }

.bty-fs-26-color-red {
    font-size: 26px;
    color: red; }

.bty-fs-28-color-red {
    font-size: 28px;
    color: red; }

.bty-fs-30-color-red {
    font-size: 30px;
    color: red; }

.bty-fs-32-color-red {
    font-size: 32px;
    color: red; }

.bty-fs-34-color-red {
    font-size: 34px;
    color: red; }

.bty-fs-36-color-red {
    font-size: 36px;
    color: red; }

.bty-fs-38-color-red {
    font-size: 38px;
    color: red; }

.bty-fs-40-color-red {
    font-size: 40px;
    color: red; }

.bty-fs-42-color-red {
    font-size: 42px;
    color: red; }

.bty-fs-44-color-red {
    font-size: 44px;
    color: red; }

.bty-fs-46-color-red {
    font-size: 46px;
    color: red; }

.bty-fs-48-color-red {
    font-size: 48px;
    color: red; }

.bty-fs-8-color-violet {
    font-size: 8px;
    color: violet; }

.bty-fs-10-color-violet {
    font-size: 10px;
    color: violet; }

.bty-fs-12-color-violet {
    font-size: 12px;
    color: violet; }

.bty-fs-14-color-violet {
    font-size: 14px;
    color: violet; }

.bty-fs-16-color-violet {
    font-size: 16px;
    color: violet; }

.bty-fs-18-color-violet {
    font-size: 18px;
    color: violet; }

.bty-fs-20-color-violet {
    font-size: 20px;
    color: violet; }

.bty-fs-22-color-violet {
    font-size: 22px;
    color: violet; }

.bty-fs-24-color-violet {
    font-size: 24px;
    color: violet; }

.bty-fs-26-color-violet {
    font-size: 26px;
    color: violet; }

.bty-fs-28-color-violet {
    font-size: 28px;
    color: violet; }

.bty-fs-30-color-violet {
    font-size: 30px;
    color: violet; }

.bty-fs-32-color-violet {
    font-size: 32px;
    color: violet; }

.bty-fs-34-color-violet {
    font-size: 34px;
    color: violet; }

.bty-fs-36-color-violet {
    font-size: 36px;
    color: violet; }

.bty-fs-38-color-violet {
    font-size: 38px;
    color: violet; }

.bty-fs-40-color-violet {
    font-size: 40px;
    color: violet; }

.bty-fs-42-color-violet {
    font-size: 42px;
    color: violet; }

.bty-fs-44-color-violet {
    font-size: 44px;
    color: violet; }

.bty-fs-46-color-violet {
    font-size: 46px;
    color: violet; }

.bty-fs-48-color-violet {
    font-size: 48px;
    color: violet; }

.bty-fs-8-color-blue {
    font-size: 8px;
    color: blue; }

.bty-fs-10-color-blue {
    font-size: 10px;
    color: blue; }

.bty-fs-12-color-blue {
    font-size: 12px;
    color: blue; }

.bty-fs-14-color-blue {
    font-size: 14px;
    color: blue; }

.bty-fs-16-color-blue {
    font-size: 16px;
    color: blue; }

.bty-fs-18-color-blue {
    font-size: 18px;
    color: blue; }

.bty-fs-20-color-blue {
    font-size: 20px;
    color: blue; }

.bty-fs-22-color-blue {
    font-size: 22px;
    color: blue; }

.bty-fs-24-color-blue {
    font-size: 24px;
    color: blue; }

.bty-fs-26-color-blue {
    font-size: 26px;
    color: blue; }

.bty-fs-28-color-blue {
    font-size: 28px;
    color: blue; }

.bty-fs-30-color-blue {
    font-size: 30px;
    color: blue; }

.bty-fs-32-color-blue {
    font-size: 32px;
    color: blue; }

.bty-fs-34-color-blue {
    font-size: 34px;
    color: blue; }

.bty-fs-36-color-blue {
    font-size: 36px;
    color: blue; }

.bty-fs-38-color-blue {
    font-size: 38px;
    color: blue; }

.bty-fs-40-color-blue {
    font-size: 40px;
    color: blue; }

.bty-fs-42-color-blue {
    font-size: 42px;
    color: blue; }

.bty-fs-44-color-blue {
    font-size: 44px;
    color: blue; }

.bty-fs-46-color-blue {
    font-size: 46px;
    color: blue; }

.bty-fs-48-color-blue {
    font-size: 48px;
    color: blue; }

.bty-fs-8-color-orange {
    font-size: 8px;
    color: orange; }

.bty-fs-10-color-orange {
    font-size: 10px;
    color: orange; }

.bty-fs-12-color-orange {
    font-size: 12px;
    color: orange; }

.bty-fs-14-color-orange {
    font-size: 14px;
    color: orange; }

.bty-fs-16-color-orange {
    font-size: 16px;
    color: orange; }

.bty-fs-18-color-orange {
    font-size: 18px;
    color: orange; }

.bty-fs-20-color-orange {
    font-size: 20px;
    color: orange; }

.bty-fs-22-color-orange {
    font-size: 22px;
    color: orange; }

.bty-fs-24-color-orange {
    font-size: 24px;
    color: orange; }

.bty-fs-26-color-orange {
    font-size: 26px;
    color: orange; }

.bty-fs-28-color-orange {
    font-size: 28px;
    color: orange; }

.bty-fs-30-color-orange {
    font-size: 30px;
    color: orange; }

.bty-fs-32-color-orange {
    font-size: 32px;
    color: orange; }

.bty-fs-34-color-orange {
    font-size: 34px;
    color: orange; }

.bty-fs-36-color-orange {
    font-size: 36px;
    color: orange; }

.bty-fs-38-color-orange {
    font-size: 38px;
    color: orange; }

.bty-fs-40-color-orange {
    font-size: 40px;
    color: orange; }

.bty-fs-42-color-orange {
    font-size: 42px;
    color: orange; }

.bty-fs-44-color-orange {
    font-size: 44px;
    color: orange; }

.bty-fs-46-color-orange {
    font-size: 46px;
    color: orange; }

.bty-fs-48-color-orange {
    font-size: 48px;
    color: orange; }

.bty-fs-8-color-green {
    font-size: 8px;
    color: green; }

.bty-fs-10-color-green {
    font-size: 10px;
    color: green; }

.bty-fs-12-color-green {
    font-size: 12px;
    color: green; }

.bty-fs-14-color-green {
    font-size: 14px;
    color: green; }

.bty-fs-16-color-green {
    font-size: 16px;
    color: green; }

.bty-fs-18-color-green {
    font-size: 18px;
    color: green; }

.bty-fs-20-color-green {
    font-size: 20px;
    color: green; }

.bty-fs-22-color-green {
    font-size: 22px;
    color: green; }

.bty-fs-24-color-green {
    font-size: 24px;
    color: green; }

.bty-fs-26-color-green {
    font-size: 26px;
    color: green; }

.bty-fs-28-color-green {
    font-size: 28px;
    color: green; }

.bty-fs-30-color-green {
    font-size: 30px;
    color: green; }

.bty-fs-32-color-green {
    font-size: 32px;
    color: green; }

.bty-fs-34-color-green {
    font-size: 34px;
    color: green; }

.bty-fs-36-color-green {
    font-size: 36px;
    color: green; }

.bty-fs-38-color-green {
    font-size: 38px;
    color: green; }

.bty-fs-40-color-green {
    font-size: 40px;
    color: green; }

.bty-fs-42-color-green {
    font-size: 42px;
    color: green; }

.bty-fs-44-color-green {
    font-size: 44px;
    color: green; }

.bty-fs-46-color-green {
    font-size: 46px;
    color: green; }

.bty-fs-48-color-green {
    font-size: 48px;
    color: green; }

.bty-fs-8-color-brown {
    font-size: 8px;
    color: brown; }

.bty-fs-10-color-brown {
    font-size: 10px;
    color: brown; }

.bty-fs-12-color-brown {
    font-size: 12px;
    color: brown; }

.bty-fs-14-color-brown {
    font-size: 14px;
    color: brown; }

.bty-fs-16-color-brown {
    font-size: 16px;
    color: brown; }

.bty-fs-18-color-brown {
    font-size: 18px;
    color: brown; }

.bty-fs-20-color-brown {
    font-size: 20px;
    color: brown; }

.bty-fs-22-color-brown {
    font-size: 22px;
    color: brown; }

.bty-fs-24-color-brown {
    font-size: 24px;
    color: brown; }

.bty-fs-26-color-brown {
    font-size: 26px;
    color: brown; }

.bty-fs-28-color-brown {
    font-size: 28px;
    color: brown; }

.bty-fs-30-color-brown {
    font-size: 30px;
    color: brown; }

.bty-fs-32-color-brown {
    font-size: 32px;
    color: brown; }

.bty-fs-34-color-brown {
    font-size: 34px;
    color: brown; }

.bty-fs-36-color-brown {
    font-size: 36px;
    color: brown; }

.bty-fs-38-color-brown {
    font-size: 38px;
    color: brown; }

.bty-fs-40-color-brown {
    font-size: 40px;
    color: brown; }

.bty-fs-42-color-brown {
    font-size: 42px;
    color: brown; }

.bty-fs-44-color-brown {
    font-size: 44px;
    color: brown; }

.bty-fs-46-color-brown {
    font-size: 46px;
    color: brown; }

.bty-fs-48-color-brown {
    font-size: 48px;
    color: brown; }

.bty-fs-8-color-yellow {
    font-size: 8px;
    color: yellow; }

.bty-fs-10-color-yellow {
    font-size: 10px;
    color: yellow; }

.bty-fs-12-color-yellow {
    font-size: 12px;
    color: yellow; }

.bty-fs-14-color-yellow {
    font-size: 14px;
    color: yellow; }

.bty-fs-16-color-yellow {
    font-size: 16px;
    color: yellow; }

.bty-fs-18-color-yellow {
    font-size: 18px;
    color: yellow; }

.bty-fs-20-color-yellow {
    font-size: 20px;
    color: yellow; }

.bty-fs-22-color-yellow {
    font-size: 22px;
    color: yellow; }

.bty-fs-24-color-yellow {
    font-size: 24px;
    color: yellow; }

.bty-fs-26-color-yellow {
    font-size: 26px;
    color: yellow; }

.bty-fs-28-color-yellow {
    font-size: 28px;
    color: yellow; }

.bty-fs-30-color-yellow {
    font-size: 30px;
    color: yellow; }

.bty-fs-32-color-yellow {
    font-size: 32px;
    color: yellow; }

.bty-fs-34-color-yellow {
    font-size: 34px;
    color: yellow; }

.bty-fs-36-color-yellow {
    font-size: 36px;
    color: yellow; }

.bty-fs-38-color-yellow {
    font-size: 38px;
    color: yellow; }

.bty-fs-40-color-yellow {
    font-size: 40px;
    color: yellow; }

.bty-fs-42-color-yellow {
    font-size: 42px;
    color: yellow; }

.bty-fs-44-color-yellow {
    font-size: 44px;
    color: yellow; }

.bty-fs-46-color-yellow {
    font-size: 46px;
    color: yellow; }

.bty-fs-48-color-yellow {
    font-size: 48px;
    color: yellow; }

.bty-fs-8-color-gray {
    font-size: 8px;
    color: gray; }

.bty-fs-10-color-gray {
    font-size: 10px;
    color: gray; }

.bty-fs-12-color-gray {
    font-size: 12px;
    color: gray; }

.bty-fs-14-color-gray {
    font-size: 14px;
    color: gray; }

.bty-fs-16-color-gray {
    font-size: 16px;
    color: gray; }

.bty-fs-18-color-gray {
    font-size: 18px;
    color: gray; }

.bty-fs-20-color-gray {
    font-size: 20px;
    color: gray; }

.bty-fs-22-color-gray {
    font-size: 22px;
    color: gray; }

.bty-fs-24-color-gray {
    font-size: 24px;
    color: gray; }

.bty-fs-26-color-gray {
    font-size: 26px;
    color: gray; }

.bty-fs-28-color-gray {
    font-size: 28px;
    color: gray; }

.bty-fs-30-color-gray {
    font-size: 30px;
    color: gray; }

.bty-fs-32-color-gray {
    font-size: 32px;
    color: gray; }

.bty-fs-34-color-gray {
    font-size: 34px;
    color: gray; }

.bty-fs-36-color-gray {
    font-size: 36px;
    color: gray; }

.bty-fs-38-color-gray {
    font-size: 38px;
    color: gray; }

.bty-fs-40-color-gray {
    font-size: 40px;
    color: gray; }

.bty-fs-42-color-gray {
    font-size: 42px;
    color: gray; }

.bty-fs-44-color-gray {
    font-size: 44px;
    color: gray; }

.bty-fs-46-color-gray {
    font-size: 46px;
    color: gray; }

.bty-fs-48-color-gray {
    font-size: 48px;
    color: gray; }

.bty-fs-8-color-darkred {
    font-size: 8px;
    color: darkred; }

.bty-fs-10-color-darkred {
    font-size: 10px;
    color: darkred; }

.bty-fs-12-color-darkred {
    font-size: 12px;
    color: darkred; }

.bty-fs-14-color-darkred {
    font-size: 14px;
    color: darkred; }

.bty-fs-16-color-darkred {
    font-size: 16px;
    color: darkred; }

.bty-fs-18-color-darkred {
    font-size: 18px;
    color: darkred; }

.bty-fs-20-color-darkred {
    font-size: 20px;
    color: darkred; }

.bty-fs-22-color-darkred {
    font-size: 22px;
    color: darkred; }

.bty-fs-24-color-darkred {
    font-size: 24px;
    color: darkred; }

.bty-fs-26-color-darkred {
    font-size: 26px;
    color: darkred; }

.bty-fs-28-color-darkred {
    font-size: 28px;
    color: darkred; }

.bty-fs-30-color-darkred {
    font-size: 30px;
    color: darkred; }

.bty-fs-32-color-darkred {
    font-size: 32px;
    color: darkred; }

.bty-fs-34-color-darkred {
    font-size: 34px;
    color: darkred; }

.bty-fs-36-color-darkred {
    font-size: 36px;
    color: darkred; }

.bty-fs-38-color-darkred {
    font-size: 38px;
    color: darkred; }

.bty-fs-40-color-darkred {
    font-size: 40px;
    color: darkred; }

.bty-fs-42-color-darkred {
    font-size: 42px;
    color: darkred; }

.bty-fs-44-color-darkred {
    font-size: 44px;
    color: darkred; }

.bty-fs-46-color-darkred {
    font-size: 46px;
    color: darkred; }

.bty-fs-48-color-darkred {
    font-size: 48px;
    color: darkred; }

.bty-fs-8-color-lightpink {
    font-size: 8px;
    color: lightpink; }

.bty-fs-10-color-lightpink {
    font-size: 10px;
    color: lightpink; }

.bty-fs-12-color-lightpink {
    font-size: 12px;
    color: lightpink; }

.bty-fs-14-color-lightpink {
    font-size: 14px;
    color: lightpink; }

.bty-fs-16-color-lightpink {
    font-size: 16px;
    color: lightpink; }

.bty-fs-18-color-lightpink {
    font-size: 18px;
    color: lightpink; }

.bty-fs-20-color-lightpink {
    font-size: 20px;
    color: lightpink; }

.bty-fs-22-color-lightpink {
    font-size: 22px;
    color: lightpink; }

.bty-fs-24-color-lightpink {
    font-size: 24px;
    color: lightpink; }

.bty-fs-26-color-lightpink {
    font-size: 26px;
    color: lightpink; }

.bty-fs-28-color-lightpink {
    font-size: 28px;
    color: lightpink; }

.bty-fs-30-color-lightpink {
    font-size: 30px;
    color: lightpink; }

.bty-fs-32-color-lightpink {
    font-size: 32px;
    color: lightpink; }

.bty-fs-34-color-lightpink {
    font-size: 34px;
    color: lightpink; }

.bty-fs-36-color-lightpink {
    font-size: 36px;
    color: lightpink; }

.bty-fs-38-color-lightpink {
    font-size: 38px;
    color: lightpink; }

.bty-fs-40-color-lightpink {
    font-size: 40px;
    color: lightpink; }

.bty-fs-42-color-lightpink {
    font-size: 42px;
    color: lightpink; }

.bty-fs-44-color-lightpink {
    font-size: 44px;
    color: lightpink; }

.bty-fs-46-color-lightpink {
    font-size: 46px;
    color: lightpink; }

.bty-fs-48-color-lightpink {
    font-size: 48px;
    color: lightpink; }

.bty-fs-10-col-black-up-bold-shadow {
    font-size: 10px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-12-col-black-up-bold-shadow {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-14-col-black-up-bold-shadow {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-16-col-black-up-bold-shadow {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-18-col-black-up-bold-shadow {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-20-col-black-up-bold-shadow {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-22-col-black-up-bold-shadow {
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-24-col-black-up-bold-shadow {
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-26-col-black-up-bold-shadow {
    font-size: 26px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-28-col-black-up-bold-shadow {
    font-size: 28px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.bty-fs-14-col-light-shadow {
    font-size: 14px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-16-col-light-shadow {
    font-size: 16px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-18-col-light-shadow {
    font-size: 18px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-20-col-light-shadow {
    font-size: 20px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-22-col-light-shadow {
    font-size: 22px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-24-col-light-shadow {
    font-size: 24px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-26-col-light-shadow {
    font-size: 26px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-28-col-light-shadow {
    font-size: 28px;
    color: rgba(130, 130, 120, 0.15);
    text-shadow: 1px 2px 8px #e5e5e5, 0 0 0 rgba(50, 50, 0, 0.3), 1px 2px 8px #e5e5e5, 2px 2px 0 #ffffff; }

.bty-fs-14-col-tran-shadow-black {
    font-size: 14px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-16-col-tran-shadow-black {
    font-size: 16px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-18-col-tran-shadow-black {
    font-size: 18px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-20-col-tran-shadow-black {
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-22-col-tran-shadow-black {
    font-size: 22px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-24-col-tran-shadow-black {
    font-size: 24px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-26-col-tran-shadow-black {
    font-size: 26px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-28-col-tran-shadow-black {
    font-size: 28px;
    color: transparent;
    text-shadow: 0 0 3px black; }

.bty-fs-14-col-tran-shadow-red {
    font-size: 14px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-16-col-tran-shadow-red {
    font-size: 16px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-18-col-tran-shadow-red {
    font-size: 18px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-20-col-tran-shadow-red {
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-22-col-tran-shadow-red {
    font-size: 22px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-24-col-tran-shadow-red {
    font-size: 24px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-26-col-tran-shadow-red {
    font-size: 26px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-28-col-tran-shadow-red {
    font-size: 28px;
    color: transparent;
    text-shadow: 0 0 3px red; }

.bty-fs-14-col-tran-shadow-blue {
    font-size: 14px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-16-col-tran-shadow-blue {
    font-size: 16px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-18-col-tran-shadow-blue {
    font-size: 18px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-20-col-tran-shadow-blue {
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-22-col-tran-shadow-blue {
    font-size: 22px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-24-col-tran-shadow-blue {
    font-size: 24px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-26-col-tran-shadow-blue {
    font-size: 26px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-28-col-tran-shadow-blue {
    font-size: 28px;
    color: transparent;
    text-shadow: 0 0 3px #020aff; }

.bty-fs-12-col-black-spacing-2 {
    font-size: 12px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-14-col-black-spacing-2 {
    font-size: 14px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-16-col-black-spacing-2 {
    font-size: 16px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-18-col-black-spacing-2 {
    font-size: 18px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-20-col-black-spacing-2 {
    font-size: 20px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-22-col-black-spacing-2 {
    font-size: 22px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-24-col-black-spacing-2 {
    font-size: 24px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-26-col-black-spacing-2 {
    font-size: 26px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-28-col-black-spacing-2 {
    font-size: 28px;
    color: black;
    letter-spacing: 2px; }

.bty-fs-12-col-black-spacing-4 {
    font-size: 12px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-14-col-black-spacing-4 {
    font-size: 14px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-16-col-black-spacing-4 {
    font-size: 16px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-18-col-black-spacing-4 {
    font-size: 18px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-20-col-black-spacing-4 {
    font-size: 20px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-22-col-black-spacing-4 {
    font-size: 22px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-24-col-black-spacing-4 {
    font-size: 24px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-26-col-black-spacing-4 {
    font-size: 26px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-28-col-black-spacing-4 {
    font-size: 28px;
    color: black;
    letter-spacing: 4px; }

.bty-fs-12-col-white-spacing-2 {
    font-size: 12px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-14-col-white-spacing-2 {
    font-size: 14px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-16-col-white-spacing-2 {
    font-size: 16px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-18-col-white-spacing-2 {
    font-size: 18px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-20-col-white-spacing-2 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-22-col-white-spacing-2 {
    font-size: 22px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-24-col-white-spacing-2 {
    font-size: 24px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-26-col-white-spacing-2 {
    font-size: 26px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-28-col-white-spacing-2 {
    font-size: 28px;
    color: white;
    letter-spacing: 2px; }

.bty-fs-12-col-white-spacing-4 {
    font-size: 12px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-14-col-white-spacing-4 {
    font-size: 14px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-16-col-white-spacing-4 {
    font-size: 16px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-18-col-white-spacing-4 {
    font-size: 18px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-20-col-white-spacing-4 {
    font-size: 20px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-22-col-white-spacing-4 {
    font-size: 22px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-24-col-white-spacing-4 {
    font-size: 24px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-26-col-white-spacing-4 {
    font-size: 26px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-28-col-white-spacing-4 {
    font-size: 28px;
    color: white;
    letter-spacing: 4px; }

.bty-fs-12-col-red-spacing-2 {
    font-size: 12px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-14-col-red-spacing-2 {
    font-size: 14px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-16-col-red-spacing-2 {
    font-size: 16px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-18-col-red-spacing-2 {
    font-size: 18px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-20-col-red-spacing-2 {
    font-size: 20px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-22-col-red-spacing-2 {
    font-size: 22px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-24-col-red-spacing-2 {
    font-size: 24px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-26-col-red-spacing-2 {
    font-size: 26px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-28-col-red-spacing-2 {
    font-size: 28px;
    color: red;
    letter-spacing: 2px; }

.bty-fs-12-col-red-spacing-4 {
    font-size: 12px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-14-col-red-spacing-4 {
    font-size: 14px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-16-col-red-spacing-4 {
    font-size: 16px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-18-col-red-spacing-4 {
    font-size: 18px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-20-col-red-spacing-4 {
    font-size: 20px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-22-col-red-spacing-4 {
    font-size: 22px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-24-col-red-spacing-4 {
    font-size: 24px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-26-col-red-spacing-4 {
    font-size: 26px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-28-col-red-spacing-4 {
    font-size: 28px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-12-col-red-spacing-4 {
    font-size: 12px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-14-col-red-spacing-4 {
    font-size: 14px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-16-col-red-spacing-4 {
    font-size: 16px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-18-col-red-spacing-4 {
    font-size: 18px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-20-col-red-spacing-4 {
    font-size: 20px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-22-col-red-spacing-4 {
    font-size: 22px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-24-col-red-spacing-4 {
    font-size: 24px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-26-col-red-spacing-4 {
    font-size: 26px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-28-col-red-spacing-4 {
    font-size: 28px;
    color: red;
    letter-spacing: 4px; }

.bty-fs-12-col-gray-spacing-2 {
    font-size: 12px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-14-col-gray-spacing-2 {
    font-size: 14px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-16-col-gray-spacing-2 {
    font-size: 16px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-18-col-gray-spacing-2 {
    font-size: 18px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-20-col-gray-spacing-2 {
    font-size: 20px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-22-col-gray-spacing-2 {
    font-size: 22px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-24-col-gray-spacing-2 {
    font-size: 24px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-26-col-gray-spacing-2 {
    font-size: 26px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-28-col-gray-spacing-2 {
    font-size: 28px;
    color: gray;
    letter-spacing: 2px; }

.bty-fs-12-col-gray-spacing-4 {
    font-size: 12px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-14-col-gray-spacing-4 {
    font-size: 14px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-16-col-gray-spacing-4 {
    font-size: 16px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-18-col-gray-spacing-4 {
    font-size: 18px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-20-col-gray-spacing-4 {
    font-size: 20px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-22-col-gray-spacing-4 {
    font-size: 22px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-24-col-gray-spacing-4 {
    font-size: 24px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-26-col-gray-spacing-4 {
    font-size: 26px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-28-col-gray-spacing-4 {
    font-size: 28px;
    color: gray;
    letter-spacing: 4px; }

.bty-fs-12-col-orange-spacing-2 {
    font-size: 12px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-14-col-orange-spacing-2 {
    font-size: 14px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-16-col-orange-spacing-2 {
    font-size: 16px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-18-col-orange-spacing-2 {
    font-size: 18px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-20-col-orange-spacing-2 {
    font-size: 20px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-22-col-orange-spacing-2 {
    font-size: 22px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-24-col-orange-spacing-2 {
    font-size: 24px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-26-col-orange-spacing-2 {
    font-size: 26px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-28-col-orange-spacing-2 {
    font-size: 28px;
    color: orange;
    letter-spacing: 2px; }

.bty-fs-12-col-orange-spacing-4 {
    font-size: 12px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-14-col-orange-spacing-4 {
    font-size: 14px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-16-col-orange-spacing-4 {
    font-size: 16px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-18-col-orange-spacing-4 {
    font-size: 18px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-20-col-orange-spacing-4 {
    font-size: 20px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-22-col-orange-spacing-4 {
    font-size: 22px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-24-col-orange-spacing-4 {
    font-size: 24px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-26-col-orange-spacing-4 {
    font-size: 26px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-28-col-orange-spacing-4 {
    font-size: 28px;
    color: orange;
    letter-spacing: 4px; }

.bty-fs-12-col-black-left {
    font-size: 12px;
    color: black;
    text-align: left; }

.bty-fs-14-col-black-left {
    font-size: 14px;
    color: black;
    text-align: left; }

.bty-fs-16-col-black-left {
    font-size: 16px;
    color: black;
    text-align: left; }

.bty-fs-18-col-black-left {
    font-size: 18px;
    color: black;
    text-align: left; }

.bty-fs-20-col-black-left {
    font-size: 20px;
    color: black;
    text-align: left; }

.bty-fs-22-col-black-left {
    font-size: 22px;
    color: black;
    text-align: left; }

.bty-fs-24-col-black-left {
    font-size: 24px;
    color: black;
    text-align: left; }

.bty-fs-26-col-black-left {
    font-size: 26px;
    color: black;
    text-align: left; }

.bty-fs-28-col-black-left {
    font-size: 28px;
    color: black;
    text-align: left; }

.bty-fs-30-col-black-left {
    font-size: 30px;
    color: black;
    text-align: left; }

.bty-fs-32-col-black-left {
    font-size: 32px;
    color: black;
    text-align: left; }

.bty-fs-34-col-black-left {
    font-size: 34px;
    color: black;
    text-align: left; }

.bty-fs-36-col-black-left {
    font-size: 36px;
    color: black;
    text-align: left; }

.bty-fs-12-col-red-left {
    font-size: 12px;
    color: red;
    text-align: left; }

.bty-fs-14-col-red-left {
    font-size: 14px;
    color: red;
    text-align: left; }

.bty-fs-16-col-red-left {
    font-size: 16px;
    color: red;
    text-align: left; }

.bty-fs-18-col-red-left {
    font-size: 18px;
    color: red;
    text-align: left; }

.bty-fs-20-col-red-left {
    font-size: 20px;
    color: red;
    text-align: left; }

.bty-fs-22-col-red-left {
    font-size: 22px;
    color: red;
    text-align: left; }

.bty-fs-24-col-red-left {
    font-size: 24px;
    color: red;
    text-align: left; }

.bty-fs-26-col-red-left {
    font-size: 26px;
    color: red;
    text-align: left; }

.bty-fs-28-col-red-left {
    font-size: 28px;
    color: red;
    text-align: left; }

.bty-fs-30-col-red-left {
    font-size: 30px;
    color: red;
    text-align: left; }

.bty-fs-32-col-red-left {
    font-size: 32px;
    color: red;
    text-align: left; }

.bty-fs-34-col-red-left {
    font-size: 34px;
    color: red;
    text-align: left; }

.bty-fs-36-col-red-left {
    font-size: 36px;
    color: red;
    text-align: left; }

.bty-fs-12-col-violet-left {
    font-size: 12px;
    color: violet;
    text-align: left; }

.bty-fs-14-col-violet-left {
    font-size: 14px;
    color: violet;
    text-align: left; }

.bty-fs-16-col-violet-left {
    font-size: 16px;
    color: violet;
    text-align: left; }

.bty-fs-18-col-violet-left {
    font-size: 18px;
    color: violet;
    text-align: left; }

.bty-fs-20-col-violet-left {
    font-size: 20px;
    color: violet;
    text-align: left; }

.bty-fs-22-col-violet-left {
    font-size: 22px;
    color: violet;
    text-align: left; }

.bty-fs-24-col-violet-left {
    font-size: 24px;
    color: violet;
    text-align: left; }

.bty-fs-26-col-violet-left {
    font-size: 26px;
    color: violet;
    text-align: left; }

.bty-fs-28-col-violet-left {
    font-size: 28px;
    color: violet;
    text-align: left; }

.bty-fs-30-col-violet-left {
    font-size: 30px;
    color: violet;
    text-align: left; }

.bty-fs-32-col-violet-left {
    font-size: 32px;
    color: violet;
    text-align: left; }

.bty-fs-34-col-violet-left {
    font-size: 34px;
    color: violet;
    text-align: left; }

.bty-fs-36-col-violet-left {
    font-size: 36px;
    color: violet;
    text-align: left; }

.bty-fs-12-col-green-left {
    font-size: 12px;
    color: green;
    text-align: left; }

.bty-fs-14-col-green-left {
    font-size: 14px;
    color: green;
    text-align: left; }

.bty-fs-16-col-green-left {
    font-size: 16px;
    color: green;
    text-align: left; }

.bty-fs-18-col-green-left {
    font-size: 18px;
    color: green;
    text-align: left; }

.bty-fs-20-col-green-left {
    font-size: 20px;
    color: green;
    text-align: left; }

.bty-fs-22-col-green-left {
    font-size: 22px;
    color: green;
    text-align: left; }

.bty-fs-24-col-green-left {
    font-size: 24px;
    color: green;
    text-align: left; }

.bty-fs-26-col-green-left {
    font-size: 26px;
    color: green;
    text-align: left; }

.bty-fs-28-col-green-left {
    font-size: 28px;
    color: green;
    text-align: left; }

.bty-fs-30-col-green-left {
    font-size: 30px;
    color: green;
    text-align: left; }

.bty-fs-32-col-green-left {
    font-size: 32px;
    color: green;
    text-align: left; }

.bty-fs-34-col-green-left {
    font-size: 34px;
    color: green;
    text-align: left; }

.bty-fs-36-col-green-left {
    font-size: 36px;
    color: green;
    text-align: left; }

.bty-fs-12-col-yellow-left {
    font-size: 12px;
    color: yellow;
    text-align: left; }

.bty-fs-14-col-yellow-left {
    font-size: 14px;
    color: yellow;
    text-align: left; }

.bty-fs-16-col-yellow-left {
    font-size: 16px;
    color: yellow;
    text-align: left; }

.bty-fs-18-col-yellow-left {
    font-size: 18px;
    color: yellow;
    text-align: left; }

.bty-fs-20-col-yellow-left {
    font-size: 20px;
    color: yellow;
    text-align: left; }

.bty-fs-22-col-yellow-left {
    font-size: 22px;
    color: yellow;
    text-align: left; }

.bty-fs-24-col-yellow-left {
    font-size: 24px;
    color: yellow;
    text-align: left; }

.bty-fs-26-col-yellow-left {
    font-size: 26px;
    color: yellow;
    text-align: left; }

.bty-fs-28-col-yellow-left {
    font-size: 28px;
    color: yellow;
    text-align: left; }

.bty-fs-30-col-yellow-left {
    font-size: 30px;
    color: yellow;
    text-align: left; }

.bty-fs-32-col-yellow-left {
    font-size: 32px;
    color: yellow;
    text-align: left; }

.bty-fs-34-col-yellow-left {
    font-size: 34px;
    color: yellow;
    text-align: left; }

.bty-fs-36-col-yellow-left {
    font-size: 36px;
    color: yellow;
    text-align: left; }

.bty-fs-12-col-gray-left {
    font-size: 12px;
    color: gray;
    text-align: left; }

.bty-fs-14-col-gray-left {
    font-size: 14px;
    color: gray;
    text-align: left; }

.bty-fs-16-col-gray-left {
    font-size: 16px;
    color: gray;
    text-align: left; }

.bty-fs-18-col-gray-left {
    font-size: 18px;
    color: gray;
    text-align: left; }

.bty-fs-20-col-gray-left {
    font-size: 20px;
    color: gray;
    text-align: left; }

.bty-fs-22-col-gray-left {
    font-size: 22px;
    color: gray;
    text-align: left; }

.bty-fs-24-col-gray-left {
    font-size: 24px;
    color: gray;
    text-align: left; }

.bty-fs-26-col-gray-left {
    font-size: 26px;
    color: gray;
    text-align: left; }

.bty-fs-28-col-gray-left {
    font-size: 28px;
    color: gray;
    text-align: left; }

.bty-fs-30-col-gray-left {
    font-size: 30px;
    color: gray;
    text-align: left; }

.bty-fs-32-col-gray-left {
    font-size: 32px;
    color: gray;
    text-align: left; }

.bty-fs-34-col-gray-left {
    font-size: 34px;
    color: gray;
    text-align: left; }

.bty-fs-36-col-gray-left {
    font-size: 36px;
    color: gray;
    text-align: left; }

.bty-fs-12-col-black-center {
    font-size: 12px;
    color: black;
    text-align: center; }

.bty-fs-14-col-black-center {
    font-size: 14px;
    color: black;
    text-align: center; }

.bty-fs-16-col-black-center {
    font-size: 16px;
    color: black;
    text-align: center; }

.bty-fs-18-col-black-center {
    font-size: 18px;
    color: black;
    text-align: center; }

.bty-fs-20-col-black-center {
    font-size: 20px;
    color: black;
    text-align: center; }

.bty-fs-22-col-black-center {
    font-size: 22px;
    color: black;
    text-align: center; }

.bty-fs-24-col-black-center {
    font-size: 24px;
    color: black;
    text-align: center; }

.bty-fs-26-col-black-center {
    font-size: 26px;
    color: black;
    text-align: center; }

.bty-fs-28-col-black-center {
    font-size: 28px;
    color: black;
    text-align: center; }

.bty-fs-30-col-black-center {
    font-size: 30px;
    color: black;
    text-align: center; }

.bty-fs-32-col-black-center {
    font-size: 32px;
    color: black;
    text-align: center; }

.bty-fs-34-col-black-center {
    font-size: 34px;
    color: black;
    text-align: center; }

.bty-fs-36-col-black-center {
    font-size: 36px;
    color: black;
    text-align: center; }

.bty-fs-12-col-red-center {
    font-size: 12px;
    color: red;
    text-align: center; }

.bty-fs-14-col-red-center {
    font-size: 14px;
    color: red;
    text-align: center; }

.bty-fs-16-col-red-center {
    font-size: 16px;
    color: red;
    text-align: center; }

.bty-fs-18-col-red-center {
    font-size: 18px;
    color: red;
    text-align: center; }

.bty-fs-20-col-red-center {
    font-size: 20px;
    color: red;
    text-align: center; }

.bty-fs-22-col-red-center {
    font-size: 22px;
    color: red;
    text-align: center; }

.bty-fs-24-col-red-center {
    font-size: 24px;
    color: red;
    text-align: center; }

.bty-fs-26-col-red-center {
    font-size: 26px;
    color: red;
    text-align: center; }

.bty-fs-28-col-red-center {
    font-size: 28px;
    color: red;
    text-align: center; }

.bty-fs-30-col-red-center {
    font-size: 30px;
    color: red;
    text-align: center; }

.bty-fs-32-col-red-center {
    font-size: 32px;
    color: red;
    text-align: center; }

.bty-fs-34-col-red-center {
    font-size: 34px;
    color: red;
    text-align: center; }

.bty-fs-36-col-red-center {
    font-size: 36px;
    color: red;
    text-align: center; }

.bty-fs-12-col-violet-center {
    font-size: 12px;
    color: violet;
    text-align: center; }

.bty-fs-14-col-violet-center {
    font-size: 14px;
    color: violet;
    text-align: center; }

.bty-fs-16-col-violet-center {
    font-size: 16px;
    color: violet;
    text-align: center; }

.bty-fs-18-col-violet-center {
    font-size: 18px;
    color: violet;
    text-align: center; }

.bty-fs-20-col-violet-center {
    font-size: 20px;
    color: violet;
    text-align: center; }

.bty-fs-22-col-violet-center {
    font-size: 22px;
    color: violet;
    text-align: center; }

.bty-fs-24-col-violet-center {
    font-size: 24px;
    color: violet;
    text-align: center; }

.bty-fs-26-col-violet-center {
    font-size: 26px;
    color: violet;
    text-align: center; }

.bty-fs-28-col-violet-center {
    font-size: 28px;
    color: violet;
    text-align: center; }

.bty-fs-30-col-violet-center {
    font-size: 30px;
    color: violet;
    text-align: center; }

.bty-fs-32-col-violet-center {
    font-size: 32px;
    color: violet;
    text-align: center; }

.bty-fs-34-col-violet-center {
    font-size: 34px;
    color: violet;
    text-align: center; }

.bty-fs-36-col-violet-center {
    font-size: 36px;
    color: violet;
    text-align: center; }

.bty-fs-12-col-green-center {
    font-size: 12px;
    color: green;
    text-align: center; }

.bty-fs-14-col-green-center {
    font-size: 14px;
    color: green;
    text-align: center; }

.bty-fs-16-col-green-center {
    font-size: 16px;
    color: green;
    text-align: center; }

.bty-fs-18-col-green-center {
    font-size: 18px;
    color: green;
    text-align: center; }

.bty-fs-20-col-green-center {
    font-size: 20px;
    color: green;
    text-align: center; }

.bty-fs-22-col-green-center {
    font-size: 22px;
    color: green;
    text-align: center; }

.bty-fs-24-col-green-center {
    font-size: 24px;
    color: green;
    text-align: center; }

.bty-fs-26-col-green-center {
    font-size: 26px;
    color: green;
    text-align: center; }

.bty-fs-28-col-green-center {
    font-size: 28px;
    color: green;
    text-align: center; }

.bty-fs-30-col-green-center {
    font-size: 30px;
    color: green;
    text-align: center; }

.bty-fs-32-col-green-center {
    font-size: 32px;
    color: green;
    text-align: center; }

.bty-fs-34-col-green-center {
    font-size: 34px;
    color: green;
    text-align: center; }

.bty-fs-36-col-green-center {
    font-size: 36px;
    color: green;
    text-align: center; }

.bty-fs-12-col-yellow-center {
    font-size: 12px;
    color: yellow;
    text-align: center; }

.bty-fs-14-col-yellow-center {
    font-size: 14px;
    color: yellow;
    text-align: center; }

.bty-fs-16-col-yellow-center {
    font-size: 16px;
    color: yellow;
    text-align: center; }

.bty-fs-18-col-yellow-center {
    font-size: 18px;
    color: yellow;
    text-align: center; }

.bty-fs-20-col-yellow-center {
    font-size: 20px;
    color: yellow;
    text-align: center; }

.bty-fs-22-col-yellow-center {
    font-size: 22px;
    color: yellow;
    text-align: center; }

.bty-fs-24-col-yellow-center {
    font-size: 24px;
    color: yellow;
    text-align: center; }

.bty-fs-26-col-yellow-center {
    font-size: 26px;
    color: yellow;
    text-align: center; }

.bty-fs-28-col-yellow-center {
    font-size: 28px;
    color: yellow;
    text-align: center; }

.bty-fs-30-col-yellow-center {
    font-size: 30px;
    color: yellow;
    text-align: center; }

.bty-fs-32-col-yellow-center {
    font-size: 32px;
    color: yellow;
    text-align: center; }

.bty-fs-34-col-yellow-center {
    font-size: 34px;
    color: yellow;
    text-align: center; }

.bty-fs-36-col-yellow-center {
    font-size: 36px;
    color: yellow;
    text-align: center; }

.bty-fs-12-col-gray-center {
    font-size: 12px;
    color: gray;
    text-align: center; }

.bty-fs-14-col-gray-center {
    font-size: 14px;
    color: gray;
    text-align: center; }

.bty-fs-16-col-gray-center {
    font-size: 16px;
    color: gray;
    text-align: center; }

.bty-fs-18-col-gray-center {
    font-size: 18px;
    color: gray;
    text-align: center; }

.bty-fs-20-col-gray-center {
    font-size: 20px;
    color: gray;
    text-align: center; }

.bty-fs-22-col-gray-center {
    font-size: 22px;
    color: gray;
    text-align: center; }

.bty-fs-24-col-gray-center {
    font-size: 24px;
    color: gray;
    text-align: center; }

.bty-fs-26-col-gray-center {
    font-size: 26px;
    color: gray;
    text-align: center; }

.bty-fs-28-col-gray-center {
    font-size: 28px;
    color: gray;
    text-align: center; }

.bty-fs-30-col-gray-center {
    font-size: 30px;
    color: gray;
    text-align: center; }

.bty-fs-32-col-gray-center {
    font-size: 32px;
    color: gray;
    text-align: center; }

.bty-fs-34-col-gray-center {
    font-size: 34px;
    color: gray;
    text-align: center; }

.bty-fs-36-col-gray-center {
    font-size: 36px;
    color: gray;
    text-align: center; }

.bty-fs-12-col-black-right {
    font-size: 12px;
    color: black;
    text-align: right; }

.bty-fs-14-col-black-right {
    font-size: 14px;
    color: black;
    text-align: right; }

.bty-fs-16-col-black-right {
    font-size: 16px;
    color: black;
    text-align: right; }

.bty-fs-18-col-black-right {
    font-size: 18px;
    color: black;
    text-align: right; }

.bty-fs-20-col-black-right {
    font-size: 20px;
    color: black;
    text-align: right; }

.bty-fs-22-col-black-right {
    font-size: 22px;
    color: black;
    text-align: right; }

.bty-fs-24-col-black-right {
    font-size: 24px;
    color: black;
    text-align: right; }

.bty-fs-26-col-black-right {
    font-size: 26px;
    color: black;
    text-align: right; }

.bty-fs-28-col-black-right {
    font-size: 28px;
    color: black;
    text-align: right; }

.bty-fs-30-col-black-right {
    font-size: 30px;
    color: black;
    text-align: right; }

.bty-fs-32-col-black-right {
    font-size: 32px;
    color: black;
    text-align: right; }

.bty-fs-34-col-black-right {
    font-size: 34px;
    color: black;
    text-align: right; }

.bty-fs-36-col-black-right {
    font-size: 36px;
    color: black;
    text-align: right; }

.bty-fs-12-col-red-right {
    font-size: 12px;
    color: red;
    text-align: right; }

.bty-fs-14-col-red-right {
    font-size: 14px;
    color: red;
    text-align: right; }

.bty-fs-16-col-red-right {
    font-size: 16px;
    color: red;
    text-align: right; }

.bty-fs-18-col-red-right {
    font-size: 18px;
    color: red;
    text-align: right; }

.bty-fs-20-col-red-right {
    font-size: 20px;
    color: red;
    text-align: right; }

.bty-fs-22-col-red-right {
    font-size: 22px;
    color: red;
    text-align: right; }

.bty-fs-24-col-red-right {
    font-size: 24px;
    color: red;
    text-align: right; }

.bty-fs-26-col-red-right {
    font-size: 26px;
    color: red;
    text-align: right; }

.bty-fs-28-col-red-right {
    font-size: 28px;
    color: red;
    text-align: right; }

.bty-fs-30-col-red-right {
    font-size: 30px;
    color: red;
    text-align: right; }

.bty-fs-32-col-red-right {
    font-size: 32px;
    color: red;
    text-align: right; }

.bty-fs-34-col-red-right {
    font-size: 34px;
    color: red;
    text-align: right; }

.bty-fs-36-col-red-right {
    font-size: 36px;
    color: red;
    text-align: right; }

.bty-fs-12-col-violet-right {
    font-size: 12px;
    color: violet;
    text-align: right; }

.bty-fs-14-col-violet-right {
    font-size: 14px;
    color: violet;
    text-align: right; }

.bty-fs-16-col-violet-right {
    font-size: 16px;
    color: violet;
    text-align: right; }

.bty-fs-18-col-violet-right {
    font-size: 18px;
    color: violet;
    text-align: right; }

.bty-fs-20-col-violet-right {
    font-size: 20px;
    color: violet;
    text-align: right; }

.bty-fs-22-col-violet-right {
    font-size: 22px;
    color: violet;
    text-align: right; }

.bty-fs-24-col-violet-right {
    font-size: 24px;
    color: violet;
    text-align: right; }

.bty-fs-26-col-violet-right {
    font-size: 26px;
    color: violet;
    text-align: right; }

.bty-fs-28-col-violet-right {
    font-size: 28px;
    color: violet;
    text-align: right; }

.bty-fs-30-col-violet-right {
    font-size: 30px;
    color: violet;
    text-align: right; }

.bty-fs-32-col-violet-right {
    font-size: 32px;
    color: violet;
    text-align: right; }

.bty-fs-34-col-violet-right {
    font-size: 34px;
    color: violet;
    text-align: right; }

.bty-fs-36-col-violet-right {
    font-size: 36px;
    color: violet;
    text-align: right; }

.bty-fs-12-col-green-right {
    font-size: 12px;
    color: green;
    text-align: right; }

.bty-fs-14-col-green-right {
    font-size: 14px;
    color: green;
    text-align: right; }

.bty-fs-16-col-green-right {
    font-size: 16px;
    color: green;
    text-align: right; }

.bty-fs-18-col-green-right {
    font-size: 18px;
    color: green;
    text-align: right; }

.bty-fs-20-col-green-right {
    font-size: 20px;
    color: green;
    text-align: right; }

.bty-fs-22-col-green-right {
    font-size: 22px;
    color: green;
    text-align: right; }

.bty-fs-24-col-green-right {
    font-size: 24px;
    color: green;
    text-align: right; }

.bty-fs-26-col-green-right {
    font-size: 26px;
    color: green;
    text-align: right; }

.bty-fs-28-col-green-right {
    font-size: 28px;
    color: green;
    text-align: right; }

.bty-fs-30-col-green-right {
    font-size: 30px;
    color: green;
    text-align: right; }

.bty-fs-32-col-green-right {
    font-size: 32px;
    color: green;
    text-align: right; }

.bty-fs-34-col-green-right {
    font-size: 34px;
    color: green;
    text-align: right; }

.bty-fs-36-col-green-right {
    font-size: 36px;
    color: green;
    text-align: right; }

.bty-fs-12-col-yellow-right {
    font-size: 12px;
    color: yellow;
    text-align: right; }

.bty-fs-14-col-yellow-right {
    font-size: 14px;
    color: yellow;
    text-align: right; }

.bty-fs-16-col-yellow-right {
    font-size: 16px;
    color: yellow;
    text-align: right; }

.bty-fs-18-col-yellow-right {
    font-size: 18px;
    color: yellow;
    text-align: right; }

.bty-fs-20-col-yellow-right {
    font-size: 20px;
    color: yellow;
    text-align: right; }

.bty-fs-22-col-yellow-right {
    font-size: 22px;
    color: yellow;
    text-align: right; }

.bty-fs-24-col-yellow-right {
    font-size: 24px;
    color: yellow;
    text-align: right; }

.bty-fs-26-col-yellow-right {
    font-size: 26px;
    color: yellow;
    text-align: right; }

.bty-fs-28-col-yellow-right {
    font-size: 28px;
    color: yellow;
    text-align: right; }

.bty-fs-30-col-yellow-right {
    font-size: 30px;
    color: yellow;
    text-align: right; }

.bty-fs-32-col-yellow-right {
    font-size: 32px;
    color: yellow;
    text-align: right; }

.bty-fs-34-col-yellow-right {
    font-size: 34px;
    color: yellow;
    text-align: right; }

.bty-fs-36-col-yellow-right {
    font-size: 36px;
    color: yellow;
    text-align: right; }

.bty-fs-12-col-gray-right {
    font-size: 12px;
    color: gray;
    text-align: right; }

.bty-fs-14-col-gray-right {
    font-size: 14px;
    color: gray;
    text-align: right; }

.bty-fs-16-col-gray-right {
    font-size: 16px;
    color: gray;
    text-align: right; }

.bty-fs-18-col-gray-right {
    font-size: 18px;
    color: gray;
    text-align: right; }

.bty-fs-20-col-gray-right {
    font-size: 20px;
    color: gray;
    text-align: right; }

.bty-fs-22-col-gray-right {
    font-size: 22px;
    color: gray;
    text-align: right; }

.bty-fs-24-col-gray-right {
    font-size: 24px;
    color: gray;
    text-align: right; }

.bty-fs-26-col-gray-right {
    font-size: 26px;
    color: gray;
    text-align: right; }

.bty-fs-28-col-gray-right {
    font-size: 28px;
    color: gray;
    text-align: right; }

.bty-fs-30-col-gray-right {
    font-size: 30px;
    color: gray;
    text-align: right; }

.bty-fs-32-col-gray-right {
    font-size: 32px;
    color: gray;
    text-align: right; }

.bty-fs-34-col-gray-right {
    font-size: 34px;
    color: gray;
    text-align: right; }

.bty-fs-36-col-gray-right {
    font-size: 36px;
    color: gray;
    text-align: right; }


