.shipping-calc{
    border: 1px solid #d6d6d6;
    min-height: 300px;
    box-shadow: 0 0 5px #ccc;
}
.shipping-calc .title{
    padding: 15px;
    background-color: #989898;
    color: white;
    font-size: 20px;
    box-shadow: 0 2px 1px #8e8e8e;
}
.shipping-calc .content{

}