body {
    background-color: #fff;
    text-transform: uppercase;
    color: #fff;
}

#starter {
    padding-top: 100px;
}

.block-black {
    box-shadow: -5px 0 21px rgba(0, 0, 0, 0.45);
    position: relative;
    background-color: #172335;
    width: 100%;
    height: 550px;
    margin: 40px auto;
    transition: ease all 0.5s;
    padding: 40px 0;
}

.block-black .title {
    padding: 0 30px 0;
    font-size: 20px;
    letter-spacing: 4px;
    transition: ease all 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.block-black .header-content {
    margin: 30px 0;
    padding: 35px;
    width: 100%;
    background-color: #212e42;
    height: 96px;
    overflow: hidden;
}

.block-black .header-content b {
    font-size: 40px;
}

.block-black .header-content small {
    font-size: 16px;
    text-transform: lowercase;
}

.block-black .block-content {
    padding: 12px 60px;
    margin: 0;
    transition: ease all 0.5s;
    height: 170px;
    overflow: hidden;
}

.block-black .block-content ul li {
    padding: 10px;
}

.select-plan {
    /*width: 250px;*/
    /*height: 50px;*/
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    font-size: 18px;
    background-color: #85d529;
    border: 0;
    border-radius: 0;
    font-weight: bolder;
    outline: 0;
    margin: 0 auto;
    transition: ease all 0.5s;
}

.select-plan:hover {
    color: #fff;
}

.block:active .block-black, .block:hover .block-black {
    transition: ease all .5s;
    transform: scale(1.1);
}

.block:active .select-plan, .block:hover .select-plan {
    transition: ease all 0.5s;
}

.block-bottom{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
@media (max-width:500px) {
    .block-bottom .add-to-cart{
        margin-bottom: 2px;
    }
}
