


/* panelDarkBlack */
.panelDarkBlack { background-color: #4f4f4f; color:#ffffff; border-radius:0; }
.panelDarkBlack .panel-heading { background-color: #2c2c2c; color:#ffffff; }
.panelDarkBlack .panel-heading a { color:#ffffff; text-decoration:none }
.panelDarkBlack .panel-body { padding:0; }
.panelArrow { display:inline-block; background-color: #c0485d; color:#2c2c2c; width:24px; height:24px; border-radius:100%; vertical-align: middle; margin-right: 10px; text-align:center }

.panelDarkBlack .form-group { border-top: solid 1px #595959; padding:15px; margin:0; vertical-align: middle }
.panelDarkBlack .form-group:first-child { border-top: none; }
.panelDarkBlack .labelTitle { float:left; min-width:150px;  }
.panelDarkBlack select.form-control { background-color: #888383; color:#373737; border:none; float:right; }

/* Custom Checkbox */
.customchekecboxSetting { display: none; }
.customchekecboxSetting + label {  color: #ccc; position: relative; padding-left:30px; } 
.customchekecboxSetting + label:before { content:''; display:inline-block; width:15px; height:15px; background-color: #888383; position: absolute; top:50%; left:0; margin-top: -7.5px; text-align:center; line-height:15px; }
.customchekecboxSetting:checked + label:before {  background:#47bc6c url(../img/checkbox-done-icon.png) no-repeat center center; }

.settingrowp{ padding-bottom:10px;}

.bty-settings-panel .bty-input-checkbox-5{
    display: none;
}
.bty-settings-panel .bty-input-checkbox-5 + label{
    position: relative;
    left: 0;
}
.bty-settings-panel h5{
    display: inline-block;
    font-size: 15px;
    vertical-align: bottom;
    color: #e2e2e2;
}
.bty-settings-panel h6{
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    color: #e2e2e2;
}
.bty-settings-panel .bty-input-select-1{
    display: inline-flex;
}
.bty-settings-panel .bty-input-select-1:hover::after {
    color: #ffffff;
}
.bty-settings-panel .bty-input-select-1 option{
    background-color: white;
    color: #444;
}
.bty-settings-panel .sort-select-ad{
    display: flex;
    justify-content: space-between;
}
.bty-settings-panel .bty-input-radio-1 + label{
    color: #e2e2e2;
}
.bty-settings-panel .bty-input-radio-1:checked + label:before{
    -moz-box-shadow: inset 0 0 0 10px #1f8248;
    -webkit-box-shadow: inset 0 0 0 10px #1f8248;
    box-shadow: inset 0 0 0 10px #1f8248;
}
.bty-settings-panel .select-search{
    position: relative;
    overflow: hidden;
    display: block;
}
.bty-settings-panel .select-search .select2-container--default .select2-selection--multiple{
    background: #2c3e50;
    border: none;
    padding: 8px 0;
}
.bty-settings-panel .select-search select{
    cursor: pointer;
}
.bty-settings-panel .select-search .select2-container--default .select2-selection--multiple .select2-selection__rendered li{
    margin-top: 2px;
}
.bty-settings-panel .select-search .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #fafafa;
    color: #444;
}
.bty-settings-panel .select-search .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #0c0c0c;
    margin-right: 4px;
}
.bty-settings-panel .select-search .select2-container .select2-search--inline .select2-search__field{
    margin-top: 0;
}
.bty-settings-panel .select-search:after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px 1em;
    background: #34495e;
    pointer-events: none;
}

.bty-settings-panel .general-head{
    display: flex;
    flex-direction: column-reverse;
}
.bty-settings-panel .grid-list>div{
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.bty-settings-panel .grid-list .bty-input-checkbox-6 + label{
    left: 0;
    top: 0;
}
.bty-settings-panel .grid-list>div .sort-icon span.input-group-addon{
    width: 40px;
    height: 26px;
    border-radius: 0 4px 4px 0;
    border: none;
    color: #219250;
    background-color: #fff;
    border-left: 1px solid #ccc;
}
.bty-settings-panel .grid-list>div .sort-icon .grid-list-input{
    padding: 3px;
    background-color: #fff;
    border: 0;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    height: auto;
    width: auto;
}
.bty-settings-panel .pagin-number{
    display: flex;
    justify-content: space-between;
}
.bty-settings-panel .pagin-number>div{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.bty-settings-panel .bty-setting-numner{
    padding: 11px 5px;
    color: white;
    background-color: #2c3e50;
    border: 0;
    border-radius: 4px;
    position: relative;
}
.bty-settings-panel .bty-setting-numner:focus{
    outline: none;
}
.bty-settings-panel.bty-sort-by h6{
    display: flex;
    justify-content: space-between;
}
.bty-settings-panel.bty-sort-by h6 i{
    font-size: 20px;
    color: #239854;
    background-color: white;
    width: 24px;
    height: 25px;
    padding: 4px;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
}
.bty-settings-panel.bty-sort-by h6 i:hover{
    background-color: #239854;
    color: white;
}
.bty-settings-panel.bty-sort-by .sort-by-text input{
    padding: 11px 5px;
    color: white;
    background-color: #2c3e50;
    border: 0;
    border-radius: 4px;
}
.bty-settings-panel.bty-sort-by .sort-by-text input:focus{
    outline: none;
}
.bty-settings-panel.bty-sort-by .sort-by-text input::-webkit-input-placeholder {
    color: white;
}
.bty-settings-panel.bty-sort-by .sort-by-text input::-moz-placeholder {
    color: white;
}
.bty-settings-panel.bty-sort-by .sort-by-text input:-ms-input-placeholder { /
    color: white;
}
.bty-settings-panel.bty-sort-by .sort-by-text input:-moz-placeholder {
    color: white;
}
.bty-settings-panel .data-mapping>div {
    margin-bottom: 16px;
    display: flex;
}
.bty-settings-panel .data-mapping>div:last-of-type{
    margin: 0;
}
.bty-settings-panel .data-mapping>div h6{
    flex-shrink: 0;
    align-self: center;
}
.bty-settings-panel .data-mapping .bty-input-select-1{
    width: 100%;
}




